/* ========= BASE ========= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    font-family: var(--body-font);
    color: var(--grayish-blue);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ========= BUTTONS ========= */
.button {
    display: inline-block;
    background-color: var(--bright-yellow);
    color: var(--light-gray);
    padding: .75rem 3.8rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    transition: .4s;
    text-align: center;

    &:hover{
        cursor: pointer;
        background-color: var(--grayish-blue);
    }
}