/* ========= CARD ========= */
.card {
    overflow: hidden;
    display: grid;

    &_container {
        position: relative;
        height: 100vh;
        display: grid;
        align-items: center;
        place-content: center;
    }

    &_first_content {
        background-color: var(--white);
        padding: 1.4rem 1.2rem;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    &_title {
        color: var(--cyan);
        font-size: 1.3rem;
        font-weight: var(--font-bold);
        transition: .4s;

        &:hover {
            cursor: pointer;
            color: var(--bright-yellow);
        }
    }

    &_subtitle {
        color: var(--bright-yellow);
        font-size: var(--normal-font-size);
        transition: .4s;

        &:hover {
            cursor: pointer;
            color: var(--grayish-blue);
        }
    }

    &_description {
        font-size: var(--medium-font-size);
        line-height: 1.6;
    }

    &_suscription {
        display: grid;
        gap: .5rem;
        background-color: var(--cyan);
        color: var(--light-gray);
        padding: 1.4rem 1.2rem;
    }

    &_suscription_title {
        font-size: var(--normal-font-size);
        margin-bottom: 1rem;
    }

    &_suscription_price {
        display: flex;
        gap: .8rem;
        align-items: center;
    }

    &_suscription_number {
        font-size: 2rem;
        transition: .4s;

        &:hover {
            cursor: pointer;
            color: var(--bright-yellow);
        }
    }

    &_suscription_month {
        opacity: 50%;
        font-weight: var(--font-regular);
        transition: .4s;

        &:hover {
            cursor: pointer;
            opacity: 100%;
        }
    }

    &_suscription_description {
        margin-bottom: 1rem;
        font-size: var(--medium-font-size);
    }

    &_suscription_button {
        -webkit-box-shadow: -1px 5px 16px -1px rgba(0,0,0,0.21);
        -moz-box-shadow: -1px 5px 16px -1px rgba(0,0,0,0.21);
        box-shadow: -1px 5px 16px -1px rgba(0,0,0,0.21);
    }

    &_information {
        background-color: var(--light-cyan);
        color: var(--light-gray);
        padding: 1.4rem 1.2rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    &_information_title {
        font-size: var(--normal-font-size);
    }

    &_information_list {
        display: flex;
        flex-direction: column;
        gap: .3rem;
    }

    &_information_item {
        font-size: var(--medium-font-size);
        transition: .4s;

        &:hover {
            cursor: pointer;
            color: var(--bright-yellow);
        }
    }
}