/* ========= MEDIA QUERIES ========= */
/* For Medium Devices */
@media screen and (min-width: 576px) {
    .card {
        width: 406px;
        height: auto;
    }
}

/* For Large Devices */
@media screen and (min-width: 986px) {
    .card {
        width: 80%;
        height: auto;

        &_second_content {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &_container {
            justify-items: center;
        }

        &_first_content,
        &_suscription,
        &_information {
            padding: 2.4rem 2.8rem;
        }

        &_suscription {
            border-bottom-left-radius: 10px;
        }

        &_information {
            border-bottom-left-radius: 0px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .card {
        &_container {
            gap: 2rem;
        }

        &_title {
            font-size: 1.6rem;
        }

        &_subtitle,
        &_suscription_title,
        &_information_title {
            font-size: 1.3rem;
        }

        &_description,
        &_suscription_description {
            font-size: 1.2rem;
        }

        &_information_item {
            font-size: 1rem;
        }

        &_suscription_number {
            font-size: 2.5rem;
        }
    }
}