/* ========= FONT ========= */
@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Bold.woff2') format('woff2'),
        url('../fonts/Karla-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.woff2') format('woff2'),
        url('../fonts/Karla-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ========= VARIABLES CSS ========= */
:root {
    /* ========= COLORS ========= */
    /* ========= Primary ========= */
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(179, 47%, 52%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* ========= Neutral ========= */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%); 
    --white: hsl(0, 0%, 100%);

    /* ========= FONT and TYPOGRAPHY ========= */
    --body-font: 'Karla';
    --normal-font-size: 16px;
    --medium-font-size: 14px;
    --small-font-size: 12px;

    /* ========= Font Weight ========= */
    --font-regular: normal;
    --font-bold: bold;

    /* ========= Margenes ========= */
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 2.5rem;
    --mb-2: 2rem;
}